body {
    background-color: #ECF0F3;
    color: #6D7278;
    font-family: 'Montserrat', sans-serif;
    font-weight: 'regular';
    font-size: 12px;
    padding-bottom: 50px;
}

h1 {
    color: #C0BDE8;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    color: #6D7278;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #6D7278;
}

a:hover {
    text-decoration: none;
    color: rgb(166, 169, 173)
}

.main-logo {
    width: 300px;
}

.top {
    padding-bottom: 30px;
    padding-top: 45px;
}

.menu {
    padding-top: 30px;
    margin-left: -40px;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    font-size: 16px;
    padding-bottom: 10px;
    color: #6D7278;
    text-decoration: none;
}

.menu li a:hover {
    font-size: 16px;
    color: #6D7278;
    text-decoration: none;
    border-bottom: 3px solid #C0BDE8;
}

.main logo .highlight {
    padding-bottom: 30px;
    padding-top: 30px;
}

.section {
    padding-bottom: 20px;
    padding-top: 40px;
}

.neumorphism {
    border-radius: 20px;
    background: #ECF0F3;
    box-shadow: 18px 18px 20px rgba(209, 217, 230, 0.22), -18px -18px 20px #ffffff60;
}

.neumorphism2 {
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 3px 3px 3px #D1D9E6, -3px -3px 3px rgba(255, 255, 255, 0.603);
}

.box {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.clock {
    font-size: 95px;
    margin-top: -30px;
    margin-bottom: -20px;
}

.size24 {
    font-size: 18px;
}

.size14 {
    font-size: 12px;
}

.description {
    margin-top: 20px;
}

.news {
    padding: 10px;
    height: 100px;
    overflow: hidden;
}

.news img {
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 15px;
}