body{
    background-color: #ECF0F3;
    color: #6D7278;
    font-family: 'Baloo 2', cursive;
    font-size: 14px;
    padding-bottom: 50px;
}

h1{
    color: #6D7278;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h2{
    color: #6D7278;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: #6D7278;
}
a:hover{
    text-decoration: none;
    color: rgb(166, 169, 173)
}
.top{
    padding: 40px 0;
}

.menu {
    padding: 0;
}
.menu li{
    display: inline-block;
    margin-right: 20px;
}

.menu li a{
    font-size: 18px;
    color: #6D7278;
    text-decoration: none;
}
.menu li a:hover{
    font-size: 18px;
    color: #6D7278;
    text-decoration: none;
    border-bottom: 3px solid  #868E96;
}

.neumorphism{
    border-radius: 22px;
    background: #ECF0F3;
    box-shadow:  10px 10px 20px #c9cccf, 
                -10px -10px 20px #ffffff;
}

.box{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.clock{
    font-size: 95px;
    margin-top: -30px;
}

.size24{
    font-size: 24px;
}
.size14{
    font-size: 14px;
}

.description{
    margin-top: 20px;
}

.news{
    padding: 10px;
}
.news img{
    float: left;
    margin-right: 15px;
    width: 80px;
    height: 80px;
    border-radius: 15px;
}